body {
    background-color: hsl(190, 90%, 98%);
}

* {
    font-family: Verdana, sans-serif;
}

#title {
    font-family: 'Courier New', monospace;
    font-size: 75px;
    text-align: center;
    background-color: hsl(190, 40%, 60%);
    color: white;
    font-weight: 1000;
}

ul .recipe  {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

ul .recipe:hover {
    font-weight: bold;
    text-decoration: underline dashed;
    color: hsl(0, 0%, 20%); 
}